<p style="color: green"><%= notice %></p>
<h1>Localités</h1>
<div id="localities">
  <% @localities.each do |locality| %>
    <%= render locality %>
    <p>
      <%= link_to "Voir la localité", locality %>
    </p>
  <% end %>
</div>
<%= link_to "Ajouter une localité", new_locality_path %>
