<div class="container mx-auto flex flex-col max-w-7xl p-6 lg:px-8">
  <h1 class="text-2xl font-bold">Modifier la personne</h1>
  <%= render "form", person: @person %>
  <br>
  <div>
    <%= link_to "Afficher la personne", @person %> |
    <%= link_to "Retour aux personnes", people_path %>
  </div>
</div>