<div class="container mx-auto flex flex-col max-w-7xl p-6 lg:px-8">
  <h1 class="text-2xl font-bold">Modifier le placement</h1>
  <%= render "form", placement: @placement %>
  <br>
  <div>
    <%= link_to "Voir ce placement", @placement %> |
    <%= link_to "Retour aux placements", placements_path %>
  </div>
</div>