<p style="color: green"><%= notice %></p>

<h1>Historics</h1>

<div id="historics">
  <% @historics.each do |historic| %>
    <%= render historic %>
    <p>
      <%= link_to "Show this historic", historic %>
    </p>
  <% end %>
</div>

<%= link_to "New historic", new_historic_path %>
