<div id="<%= dom_id subject %>">
  <p>
    <strong>Subject:</strong>
    <%= subject.subject %>
  </p>

  <p>
    <strong>Coefficient:</strong>
    <%= subject.coefficient %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subject.status %>
  </p>

</div>
