<p style="color: green"><%= notice %></p>
<h1>Examens</h1>
<div id="exams">
  <% @exams.each do |exam| %>
    <%= render exam %>
    <p>
      <%= link_to "Voir l'examen", exam %>
    </p>
  <% end %>
</div>
<%= link_to "Ajouter un examen", new_exam_path %>
